# Database
DATABASE_URL="postgresql://shelfie:shelfie@localhost:5433/shelfie?schema=public"

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

# --- Google Auth / Better Auth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Media API Keys 
OMDB_API_KEY=""


# Future Implementation: Books
# GOOGLE_BOOKS_API_KEY=""
